<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/author/add">Add Author</a> | <a href="/book/add">Add Book</a>
<br>

<table border="1">
    <tr>
        <td>id</td>
        <td>title</td>
        <td>description</td>

        <td>Action</td>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.description}"></td>
        <td><a th:href="@{/book/delete(id=${book.id})}">Delete</a></td>
    </tr>
</table>
<a href="/">Go back</a>
</body>
</html>